<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Luca's Pizza</title>
        <link rel="stylesheet" type="text/css" href="custom.css">
        <meta charset="utf-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <h1 class="logo"> Luca's Pizza </h1>
        <div class="navbar">
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="nav-menu-item"><%= link_to "Home", home_path, class: "nav-menu-link" %></li>
                    <li class="nav-menu-item"><%= link_to "Help", help_path, class: "nav-menu-link" %></li>
                    <li class="nav-menu-item"><%= link_to "Menu", menu_path, class: "nav-menu-link" %></li>
                    <li class="nav-menu-item"><%= link_to "Drinks", drinks_path , class: "nav-menu-link" %></li>
                    <% if logged_in? %>
                        <li class="dropdown nav-menu-item">
                            <a href="#" class="dropdown-toggle nav-menu-link" data-toggle="dropdown">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "My Orders", '#' %></li>
                                <li><%= link_to "Settings", '#' %></li>
                                <li><%= link_to "Log out", logout_path, method: :delete %></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="nav-menu-item"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
        <div class="container">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <% if logged_in? %>
                <%= yield %>
            <% else %>
                <h1 class="text-center"> Log In To Order</h1> 
                <div class="user-form">
                    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

                        <div class="form-group">
                            <%= f.label :email, class: 'form-label' %>
                            <%= f.email_field :email, class: 'form-control' %>
                        </div>
        
                        <div class="form-group">
                            <%= f.label :password, class: 'form-label' %>
                            <%= f.password_field :password, class: 'form-control' %>
                        </div>

                        <%= f.label :remember_me, class: "checkbox" do %>
                            <%= f.check_box :remember_me %>
                            <span> Remember me on this computer </span>
                        <% end %>
        
                        <%= f.submit "Log in", class: "btn-block" %>
        
                    <% end %>
                    <p class="text-center">New user? <%= link_to "Sign up now!", signup_path %></p>
                </div>
            <% end %>
            <%= render 'layouts/footer'%>
        </div>
    </body>
</html>
