<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Luca's Pizza</title>
        <link rel="stylesheet" type="text/css" href="custom.css">
        <meta charset="utf-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track': 'reload' %>
        <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
        <body>
        <h1 class="logo"> Luca Pizza </h1>
          <div class="navbar">
            <nav class="nav">
              <ul class="nav-menu">
                <li class="nav-menu-item"><%= link_to "Home", home_path, class: "nav-menu-link" %></li>
                <li class="nav-menu-item"><%= link_to "Help", help_path, class: "nav-menu-link" %></li>
                <li class="nav-menu-item"><%= link_to "Menu", menu_path, class: "nav-menu-link" %></li>
                <li class="nav-menu-item"><%= link_to "Drinks", drinks_path , class: "nav-menu-link" %></li>
                <li class="nav-menu-item"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></li>
              </ul>
            </nav>
          </div>
        <div class = "container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
            <%= yield %>
            <%= render 'layouts/footer'%>
        </div>
        </body>
</html>